.imgs{
    position: absolute;
    right: 20px;

}
.letra{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    padding: 10px;
    font-weight: bold;
}
.botao{
    position: absolute;
    right: 100px;
    padding: 10px 15px;
    border-radius: 25px;
    height: auto;
    border-color: aliceblue;
    background-color: rgb(19, 63, 104);
    color: aliceblue;
}
.logo{
    position: absolute;
    padding-inline: 9px;
}
.cebecalhos{
    background-color: rgb(19, 63, 104);
    display: flex;
    color: aliceblue;
    align-items: center;
    font-size: 15px;
}