
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: rgb(51, 82, 82);
    color: aliceblue;
    min-height: 100vh; 
}
.card{
    font-family: "Poppins", sans-serif;
    width: 450px;
    text-align: center;
    font-size: 14px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 36px;
    background-color: rgb(2, 118, 118);
}
.desc{
    font-size: 12px;
}
.titulo{
    font-size: 15px;
}
.botao{
    background-color: rgb(1, 66, 122);
    color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    border-color: aliceblue;
}