.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: rgb(51, 82, 82);
    color: aliceblue;
    /*height: 100vh; está dando erro, a cor pega apenas uma parte*/
}
.card{
    font-family: "Poppins", sans-serif;
    width: 450px;
    text-align: center;
    font-size: 14px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 36px;
    background-color: rgb(2, 118, 118);
}
.desc{
    font-size: 12px;
}
.titulo{
    font-size: 15px;
}